{% extends 'base_times.html' %}
{% load static %}

{% block titulo %}Add New Item{% endblock %}

{% block izquierda %}


<h4>Add Movie</h4>

  <form method="POST" action="{% url 'moviedbImport' %}">
    {% csrf_token %}


      <label for="exampleFormControlInput1">Code</label>
      <input type = "text" name="title" style="padding-top:0.5em;padding-bottom:0.5em;">&nbsp;
   

    <button type="submit" style="padding-top:0.5em;padding-bottom:0.5em;">Search</button>

 
  </form><br>


{% endblock %}


{% block derecha %}

<ul class="list-group">
    {% for c in cats %}
      {% if c.nitems > 0 %}
        <li class="list-group-item"><a href="{% url 'categoria' c.id %}" style="text-decoration:none; color:black;">{{c.category|capfirst}}</a> <span class="badge badge-pill">{{c.nitems}}</span></li>
      {% endif %}
    {% endfor %}

</ul>


{% endblock %}
