{% extends 'base_times.html' %}
{% load static %}

{% block titulo %}Add New Contrato{% endblock %}

{% block izquierda %}


<h2>Add New Contrato to {{this_equipo.nombre}}</h2>
<br>

<form method="POST">
  {% csrf_token %}
  <label>Nombre Jugador:</label><br>
  <input type="text" name="nombre" style="width:100%; padding-top:0.5em;padding-bottom:0.5em;">
  <br><br>
  <label>Pais Origen:</label><br>
  <input type="text" name="pais" style="width:50%; padding-top:0.5em;padding-bottom:0.5em;">
  <br><br>

  <label>Info:</label><br>
  <textarea name="info" rows='3' style="width:95%; padding: 0.8em; font-size: 1.1em; line-height: 1.5em; font-family: 'Calibri','Arial', sans-serif;"></textarea>
  <br><br>

  <label>Fecha Inicio:</label><br>
  <input type="text" name="fec_ini" style="width:50%; padding-top:0.5em;padding-bottom:0.5em;">
  <br><br>

  <label>Posicion:</label><br>
  <select name="posicion" style="padding-top:0.5em;padding-bottom:0.5em;">
    <option value="delantero">Delantero</option>
    <option value="centrocampista">Centrocampista</option>
    <option value="defensa">Defensa</option>
    <option value="arquero">Arquero</option>
    <option value="dt">DT</option>
     
  </select>
  <br><br>

  <label>Dorsal:</label><br>
  <input type="text" name="dorsal" style="width:25%; padding-top:0.5em;padding-bottom:0.5em;">
  <br><br>




  
  <input type="submit" value="Add Item">


</form>


{% endblock %}


{% block derecha %}

<ul class="list-group">
    {% for c in cats %}
      {% if c.nitems > 0 %}
        <li class="list-group-item"><a href="{% url 'categoria' c.id %}" style="text-decoration:none; color:black;">{{c.category|capfirst}}</a> <span class="badge badge-pill">{{c.nitems}}</span></li>
      {% endif %}
    {% endfor %}

</ul>


{% endblock %}
