{% extends 'base_wiki.html' %}
{% load static %}

{% block contenido %}


<div class="form-card">
    <h2>Add New Beer</h2>
    <form method="POST">
    	{% csrf_token %}
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="nombre">
        </div>

        <div class="form-group">
            <label>Origen</label>
            <input type="text" name="origen">
        </div>

        <div class="form-group">
            <label>Tipo</label>
            <input type="text" name="tipo">
        </div>

        <div class="form-group">
            <label>Graduacion</label>
            <input type="text" name="graduacion">
        </div>

        <div class="form-group">
            <label>Review</label>
            <textarea name="contenido"></textarea>
        </div>

      
        <button class="btn btn-primary">Add Wiki</button>
        
    </form>
</div>

{% endblock %}