{% extends 'base_times.html' %}
{% load static %}

{% block titulo %}Add New Item{% endblock %}

{% block izquierda %}


<h2>New Item</h2>
<br>
 <ul class="styled-list">
  
    <li>
      <span class="main-item"><a href="{% url 'addbook' %}" style="text-decoration:none; color:black;">Add Book</a></span>
    </li>

    <li>
      <span class="main-item"><a href="{% url 'addbunko' %}" style="text-decoration:none; color:black;">Add Bunko</a></span>
    </li>
    <li>
      <span class="main-item"><a href="{% url 'addmovie' %}" style="text-decoration:none; color:black;">Add Movie</a></span>
    </li>
    <li>
      <span class="main-item"><a href="{% url 'addseason' %}" style="text-decoration:none; color:black;">Add Season (TV/Anime/Miniseries)</a></span>
    </li>
    <li>
      <span class="main-item"><a href="{% url 'addtimesitem' %}" style="text-decoration:none; color:black;">Add Item</a></span>
    </li>
    <li>
      <span class="main-item"><a href="{% url 'addbeer' %}" style="text-decoration:none; color:black;">Add Beer</a></span>
    </li>

     <li>
      <span class="main-item"><a href="{% url 'addAlbum' %}" style="text-decoration:none; color:black;">Add Album</a></span>
    </li>

  </ul>
  




{% endblock %}


{% block derecha %}

<ul class="list-group">
    {% for c in cats %}
      {% if c.nitems > 0 %}
        <li class="list-group-item"><a href="{% url 'categoria' c.id %}" style="text-decoration:none; color:black;">{{c.category|capfirst}}</a> <span class="badge badge-pill">{{c.nitems}}</span></li>
      {% endif %}
    {% endfor %}

</ul>


{% endblock %}
