{% extends 'base_times.html' %}
{% load static %}

{% block titulo %}Add Line Up{% endblock %}

{% block izquierda %}


<h2>LineUps {{this_partido.headline}}</h2>
<br>

{% if alineaciones %}
  <table>
    <tr>
      <th colspan="3">Confirmed Lineups</th>
    </tr>
    {% for a in alineaciones %}
    <tr>
      <td>{{a.contrato.dorsal}}</td>
      <td>{{a.contrato.jugador.nombre}}</td>
      <td>{{a.contrato.posicion|capfirst}}</td>
      <td>{{a.tipo|capfirst}}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
{% endif %}

<form method="POST">
  {% csrf_token %}

  <table>
    <tr>
        <th>Jugador</th>
        <th>T90</th>
        <th>TSa</th>
        <th>Bca</th>
    </tr>
       {% for c in contratos %}
  <tr>
 
      <td>{{c.jugador.nombre}}</td>
      <td style="text-align: center;"><input type="radio" name="{{c.id}}" value="titular90"></td>
      <td style="text-align: center;"><input type="radio" name="{{c.id}}" value="titularSale"></td>
      <td style="text-align: center;"><input type="radio" name="{{c.id}}" value="bancaEntra"></td>
    
  </tr>
  {% endfor %}
</table>
  

   <br><br>
  
  <input type="submit" value="Save LineUP">


</form>



{% endblock %}


{% block derecha %}

<h3>Leagues</h3>

<ul class="list-group">
    {% for c in ligas %}
    

        <li class="list-group-item"><a href="{% url 'liga' c.id %}" style="text-decoration:none; color:black;">{{c.nombre}}</a> <span class="badge badge-pill">{{c.npartidos}}</span></li>
      
    {% endfor %}

</ul>



{% endblock %}
