{% extends 'base_times.html' %}
{% load static %}

{% block titulo %}SOCCER{% endblock %}

{% block izquierda %}





<p><span class="detalles"><a href="{% url 'equipo' 1 %}" style="text-decoration:none; color:grey;">Barcelona</a> | <a href="{% url 'equipo' 2 %}" style="text-decoration:none; color:grey;">Liverpool</a> | <a href="{% url 'equipo' 3 %}" style="text-decoration:none; color:grey;">Roma</a></span></p>


{% if tc == '0' %}
<h2>Coming Matches | <a href="{% url 'futbol' 1 %}">Finished</a></h2><br>
  {% if cm %}
    {% for m in cm %}
      <table>
        <tr>
          <th colspan="6" style="text-align: left;">{{m.liga}}</th>
        </tr>
        {% for i in m.partidos %}
        <tr>
          <td>{{i.fecha|date:"m/d"}}</td>
          <td><a href="{% url 'partido' i.id %}" style="color:black; text-decoration:none;">{{i.local.nombre}}<br>{{i.visita.nombre}}</a></td>
          <td>{{i.fase}}</td>
        </tr>
        {% endfor %}

      </table>   <br> 
    {% endfor %}
  {% endif %}

{% else %}

  <table>
    <tr><th colspan="6">Last Matches</th></tr>
  {% for p in partidos %}
  <tr>
    <td>{{p.fecha|date:"m/d"}}</td>
    <td>{{p.local.nombre}}<br>{{p.visita.nombre}}</td>
    <td style="text-align:center;"><a href="{% url 'partido' p.id %}" style="color:blue; text-decoration: none;">{{p.goles_local}}<br>{{p.goles_visita}}</a></td>
    <td><a href="{% url 'liga' p.torneo.id %}" style="color:blue; text-decoration: none;">{{p.torneo.nombre}}</a></td>
  </tr>
  {% endfor %}
  </table>

{% endif %}

{% endblock %}


{% block derecha %}
<h3>Leagues</h3>

<ul class="list-group">
    {% for c in ligas %}
    

        <li class="list-group-item"><a href="{% url 'liga' c.id %}" style="text-decoration:none; color:black;">{{c.nombre}}</a> <span class="badge badge-pill">{{c.npartidos}}</span></li>
      
    {% endfor %}

</ul>




{% endblock %}
