{% extends 'base_times.html' %}
{% load static %}

{% block titulo %}The Times | Home {% endblock %}

{% block izquierda %}

  {% if in_progress %}
  <h2>In Progress:</h2>
  <br>
  <ul class="list-group">
    {% for i in in_progress %}
      <li class="list-group-item"><a href="{% url 'item' i.item.id %}" style="text-decoration:none; color:black; width: 100%;">{{i.item.titulo}}{% if i.item.periodo %}&nbsp;{{i.item.periodo}}{% endif %}
        <br><br>
        <div class="progress">
          <div class="progress-bar" style="width:{{i.progreso.ancho}}%"></div>
      </div>

      </a>

      </li>
    {% endfor%}
  </ul>
  <br>
  <hr>
  {% endif %}

  {% if articles %}
    {% for a in articles %}
      <h2>{% if a.consumido%}&#9989;&nbsp;{%endif%}<a href="{% url 'item' a.id %}" style="text-decoration:none; color:#007bff; ">{{a.titulo}}{% if a.periodo %}&nbsp;{{a.periodo}}{% endif %}</a></h2>
      <p><span class="detalles">{{a.tipo.category|capfirst}}{% if a.fecha_creacion|date:"Y-m-d" > '1999-12-31' %} | {{a.fecha_creacion|date:"M j, Y"}}{% endif %}{% if a.nrelated > 0 %} | <a href="{% url 'relatedItems' a.id %}" style="text-decoration:none; color:grey;">Related ({{a.nrelated}})</a>{% endif %}</span></p>

      {% if a.credit_links %}<p>By {{a.credit_links|safe}}</p>{% endif %}

      {{a.headtext|safe}}
      <div style="clear:both;"></div>
      <hr style="margin-bottom: 0.9em; margin-top: 0em;">
    {% endfor %}
  {% endif %}

<ul class="pagination">

   {% if articles.has_previous %}
        <li><a href="?page={{ articles.previous_page_number }}">Previous</a></li>
    {% endif %}

    <li><a href="#">Page {{ articles.number }} of {{ articles.paginator.num_pages }}</a> </li>

    {% if articles.has_next %}
        <li><a href="?page={{ articles.next_page_number }}">Next</a></li>
    {% endif %}

</ul>

{% endblock %}


{% block derecha %}

<ul class="list-group">
    {% for c in cats %}
      {% if c.nitems > 0 %}
        <li class="list-group-item"><a href="{% url 'categoria' c.id %}" style="text-decoration:none; color:black;">{{c.category|capfirst}}</a> <span class="badge badge-pill">{{c.nitems}}</span></li>
      {% endif %}
    {% endfor %}

</ul>
{% endblock %}