{% extends 'base_times.html' %}
{% load static %}

{% block titulo %}{{this_item.titulo}}{% if this_item.periodo %}&nbsp;{{this_item.periodo}}{% endif %} | The Times{% endblock %}

{% block izquierda %}

      <h2>{% if this_item.consumido%}&#9989;&nbsp;{%endif%}{{this_item.titulo}}{% if this_item.periodo %}&nbsp;{{this_item.periodo}}{% endif %}<a href="{% url 'editItem' this_item.id %}" style="text-decoration:none; color:grey;">&#x1F4DD;</a></h2>
      <p><span class="detalles">{{this_item.tipo.category|capfirst}} | {{this_item.fecha_creacion|date:"M j, Y"}}{% if this_item.aplica_consumo %} | <a href="{% url 'startConsumo' this_item.id %}" style="text-decoration:none; color:grey;">Start</a>{% endif %}{% if conteo_r > 0 %} | <a href="{% url 'relatedItems' this_item.id %}" style="text-decoration:none; color:grey;">Related ({{conteo_r}})</a>{% endif %} | <a href="{% url 'addChildItem' this_item.id %}"  style="text-decoration:none; color:grey;">Add Child</a></span></p>

       {% if cons %}<form method='POST' style='font-size: 1.2em; text-indent:1.4em;  font-family:  "Claris","Georgia", serif;'>{% csrf_token %}<label>FDate:</label>&nbsp;<input type="text" name="fec_fin" style="width:6em;">&nbsp;<input type="submit" value="Finish"></form>{% endif %}

      {% if this_item.credit_links %}<p>By {{this_item.credit_links|safe}}</p>{% endif %}




      {% if this_item.mainPic %}<img src="{{this_item.mainPic}}" style="border:1px solid grey; float:right; width:40%; margin-block-start: 1em; margin-block-end: 0em; margin-left: 16px; margin-bottom: 16px;">{% endif %}
      {{this_item.mdOutput|safe}}
      <div style="clear:both;"></div>
      <hr style="margin-bottom: 2em; margin-top: 1em;">




{% endblock %}


{% block derecha %}

<ul class="list-group">
    {% for c in cats %}
      {% if c.nitems > 0 %}
        <li class="list-group-item"><a href="{% url 'categoria' c.id %}" style="text-decoration:none; color:black;">{{c.category|capfirst}}</a> <span class="badge badge-pill">{{c.nitems}}</span></li>
      {% endif %}
    {% endfor %}

</ul>
{% endblock %}