{% extends 'base_times.html' %}
{% load static %}

{% block titulo %}The Times | Home {% endblock %}

{% block izquierda %}


  <h2><a href="{% url 'gallery' this_photo.item.id %}" style="text-decoration:none;">{{this_photo.item.titulo}}'s Gallery</a> | <a href="{% url 'gallery' 0 %}" style="text-decoration:none;">All Photos</a></h2>


  <img src="{{this_photo.imagen.url}}" style="border:1px solid grey; max-width: 100%; margin-top: 0.75em;">
<br>
  <form>
    <textarea rows="3" style="width:100%;"><img style='width:100%; border:1px solid grey; float:left; margin-bottom:1em;' src='{{this_photo.imagen.url}}'></textarea><br>
      <textarea rows="3" style="width:100%;"><img style='width:40%; margin-right:1em; margin-top:1em; margin-bottom:1em; border:1px solid grey; float:left;' src='{{this_photo.imagen.url}}'></textarea>
  </form>



{% endblock %}


{% block derecha %}

<ul class="list-group">
    {% for c in cats %}
      {% if c.nitems > 0 %}
        <li class="list-group-item"><a href="{% url 'categoria' c.id %}" style="text-decoration:none; color:black;">{{c.category|capfirst}}</a> <span class="badge badge-pill">{{c.nitems}}</span></li>
      {% endif %}
    {% endfor %}

</ul>
{% endblock %}