{% extends 'base_wiki.html' %}
{% load static %}

{% block contenido %}

<div class="form-card">


	<h2>{{wiki.titulo}} <a href="{% url 'addwikipage' wiki.id %}" style="text-decoration:none; color:blue;">&#10010;</a> | <a href="{% url 'addcharbatch' wiki.id %}" style="text-decoration:none; color:blue;">Char Batch</a></h2>



	<div class="image-grid">
		{% for w in wikis %}
			<a href="{% url 'wikipage' w.child.id wiki.id %}" style="text-decoration: none; color:black;">
			{% if w.child.mainPic %}

		   	<div class="image-card">
		        <img src="{{ w.child.mainPic }}" alt="">
		        <p class="image-caption">{{ w.child.titulo }}</p>
		    </div>

		    {% else %}

		    <div class="image-card">
		         <div class="image-box image-fallback">
           	    {{ w.child.titulo }}
        	    </div>
		        <p class="image-caption">{{w.child.titulo}}</p>
		    </div>

		    {% endif %}
		</a>
    	{% endfor %}

	</div>



<ul class="pagination">

   {% if wikis.has_previous %}
        <li><a href="?page={{ wikis.previous_page_number }}">Previous</a></li>
    {% endif %}

    <li><a href="#">Page {{ wikis.number }} of {{ wikis.paginator.num_pages }}</a> </li>

    {% if wikis.has_next %}
        <li><a href="?page={{ wikis.next_page_number }}">Next</a></li>
    {% endif %}

</ul>
</div>

{% endblock %}